.commonInfo {
  width: 100%;
  height: auto;
  background-color: pink;
  bottom: 0;
  position: absolute;
	left: 0;
  text-align: center;
}

.menu1 ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu1 ul li {
  list-style-type: none;
}

.commonMenu {
  background-color: pink;
}
































